<!doctype html>
<head>
    <link rel="stylesheet/less"  href="../../css/common/SharedMedia.less" type="text/css">
    <script src="../../js/libs/common/less-1.3.0.min.js" type="text/javascript"></script>
    
    <title></title>
</head>
<body>
    <div>
    <div class="root">
        <div class="SharedMediaContainer">
            <img class="LoadingIndicatorImg" src="../../imgs/common/ajax-loader.gif" style=" vertical-align:middle; text-align:center"/>
            <img class="SharedImage" src="" data-original="{{PhotoUrl}}" height="{{Height}}" width="{{Width}}"/>
            <div class="InfoContainer">
                <img class="SmallFriendImg" src="../../imgs/common/ajax-loader.gif" data-original="{{FriendPhotoUrl}}"/>
                <p class="FriendName">{{FriendName}}</p>
                <p class="SharedMediaSummary">{{Summary}}</p>          
                <p class="SharedMediaTime">{{Time}}</p>          
            </div>
            
            
        </div>

    </div>
</div>
</body>
</html> 
